@font-face { font-family: "kopub_bat_l"; src: url(../Fonts/KoPubBatangLight.otf); }
@font-face { font-family: "kopub_dot_l"; src: url(../Fonts/KoPubDotumLight.otf); }
@font-face { font-family: "kopub_dot_b"; src: url(../Fonts/KoPubDotumBold.otf); }
  
.bl{
font-family: "kopub_bat_l", Serif;
}
 
.dl{
font-family: "kopub_dot_l", Sans-Serif;
}

.dm{
font-family: "kopub_dot_b", Sans-Serif;
font-weight: bold;
}
 
audio{
	width : 60%;
}
 
ul
{
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0em;
}
 
 
body{
font-size : 0.9em;
hyphens: auto;
}

table
{
border-collapse:collapse;
width : 100%;
}

table,th, td
{
border: 1px solid #5b3832;
padding : 0.3em;
}

.break{
	page-break-after: always;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
}
.clear{
	clear : both;
	font-size:0em;
	line-height:0em;
    margin-bottom: 0em;
}	

.txts {
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    }


.txt {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0em;
    }

.txtex {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0em;
    }

.txt1 {
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0em;
    }

.txt2 {
    font-size: 1.4em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0em;
    }

.txtc {
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0em;
}

.bg_red{
	padding : 0.1em 0.3em;
	border-radius : 0.3em;
	background-color : #C36939;
	color : #ffffff;
}

 /* 붉은색 배경 - Step 제목 */

.bg_red2{
	padding : 0.1em 0.5em;
	border-radius : 1em;
	background-color : #DDAB8F;
}

 /* 붉은색 배경 - MP3 */


.bg_black{
	padding : 0.1em 0.3em;
	border-radius : 0.5em;
	background-color : #000000;
	color : #ffffff;
}

 /* 검은색 배경 - 예시 질문 제목 */

.bg_gray{
	padding : 0.1em 0.5em;
	border-radius : 0.5em;
	background-color : gray;
	color : #ffffff;
}

 /* 회색 배경 - 예시 제목 */

.bg_red_line{
 	 text-decoration: line-through;
    -webkit-text-decoration-color: #C36939; /* Safari */    
    text-decoration-color: #C36939;
}

 /* 붉은색 스트라이크 선 */

.bg_red_line2{
	background: linear-gradient(#ffffff, #ffffff,  #C36939);
	padding : 0.1em 0.2em;
}

 /* 붉은색 스타이크 선 */

.box_gray{
	padding : 0.5em;
	border-radius : 0.5em;
	background-color : #F2F2F2;
}

 /* 회색 배경 - 부속 부분의 미리보기 내용  */

.box_red{
	padding : 0.5em;
	background-color : #C36939;
}

 /* 붉은색 배경 - part 제목 */

.box_red2{
	padding : 0.5em;
	background-color : #F7F1ED;
}

 /* 옅은 붉은색 배경 - Step1 내용 */

.box_red_line{
	padding : 0.5em;
	border-radius : 0.5em;
	border : 3px solid #F1E2D9;
}

 /* 붉은색 테두리 - 부속 부분 부록 설명 */

.box_red_line2{
	padding :  0.5em;
	border-radius : 0 1em 0 0;
	border : 5px solid #C36939;
}

 /* 붉은색 테두리 - Day 제목 설명 */

.box_white_line {
	border : 5px solid #ffffff;
	border-radius: 0.4em;
	padding : 2em;
	margin : 0 2em -2em 2em;
}

.fright{
	float: right;
}
 


.tright{
	text-align: right;
}
 
.tcenter{
	text-align: center;
}

.s08_08{
	margin-left : 0.8em;
	text-indent : -0.8em;
}

.s16_16{
	margin-left : 1.6em;
	text-indent : -1.6em;
}

.ind08{
    margin-left: 0.8em;
}

.ind10{
	margin-left : 1em;
}

.ind14{
    margin-left: 1.4em;
}

.ind30-{
	margin-right : 3em;
}

.int10{
	text-indent : 1em;
}




.red{
	color : #C36939;
}


.red2{
	color : #DDAB8F;
}


.red3{
    color: #DDAB8F;
    text-shadow: 2px 2px 4px #C36939;
}


.red4{
    color: #C36939;
    text-shadow: 0.1em 0px   #C36939;
}

.white{
	color : #ffffff;
}

 
.opa{
	opacity : 0;
}


.opa1{
	opacity : 1;
	color : #DDAB8F;
	font-family: "kopub_dot_b", Sans-Serif;
	font-weight: bold;
}



.w40p{
	margin-left : 30%;
	margin-right : 30%;
}


.w100{width: 100%;}

.h05{
	height : 0.5em;
}


.h10{
	height : 1em;
}


